@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.postForm
{
    margin:auto;
    display:flex;
    flex-direction: column;
    max-width:20%;
    transform:translate(0,60%);
    background-color: #d8f2d0;
    border:2px solid black;
    filter: drop-shadow(5px 5px 10px #000);
}

.label
{
    max-width:95%;
    font-family: 'Roboto', sans-serif;
}

.name
{

}